body
{
	background-color: #FFF;
	font-size: 12px;
	padding: 0;
}

a
{
	border: none;
	color: #000;
	text-decoration: none;
}

abbr
{
	border: none;
}

article
{
	width: 80%;
}

dt,
li,
p
{
	margin: 0.25em 0;
}

footer
{
	display: none;
}

h1
{
	font-size: 2em;
}

li:before
{
	content:none;
}

section ul
{
	list-style-type: none;
}

section ul li
{
	text-indent: 1em;
}

section header
{
	font-size: 2em;
}

ul span.screen
{
	display: none;
}

#contact-details
{
	font-size: 0.8em;
}

.divider
{
	margin: 0;
}

.print
{
	display: inherit;
}

.screen
{
	display: none;
}