body
{
	background-color: #FFF;
	font-size: 12px;
	padding: 0;
}

a
{
	color: #000;
}

article
{
	width: 80%;
}

h1
{
	font-size: 2em;
}

section ul
{
	list-style-type: none;
}

section ul li
{
	text-indent: 2em;
}

section header
{
	font-size: 1.5em;
}

#contact-details
{
	font-size: 0.8em;
}

.divider
{
	margin: 0;
}

.icon-envelope::before,
.icon-link::before,
.icon-google-plus-sign::before,
.icon-circle-blank::before
{
	content: "";
}

.print
{
	display: inherit;
}

.screen
{
	display: none;
}