body
{
	background-color: ghostwhite;
	color: #000;
	font-family: "Amethysta";
	padding-top: 1em;
	text-align: center;
}

a
{
	border-bottom: 1px solid #ccc;
	color: #333;
	text-decoration: none;
}

a:hover,
a:active
{
	color: #666;
}

abbr
{
	border-bottom: 1px dotted #999;
}

article
{
	margin: 0 auto;
	max-width: 1440px;
	width: 90%;
}

dd
{
	border-top: 1px solid #999;
}

div
{
	margin: 0;
	padding: 0;
}

dt,
li,
p
{
	margin: 0.25em 0;
}

footer
{
	clear: both;
	font-size: 0.75em;
	text-align: right;
	width: 100%;
}

h1
{
	font-family: "Fjalla One";
	font-size: 4em;
}

h1 a
{
	border-bottom: none;
}

h2
{
	font-family: "Fjalla One";
	font-size: 1.5em;
	line-height: 2em;
}

h3
{
	font-family: "Fjalla One";
	font-size: 1.25em;
	line-height: 1.5em;
}

header section div
{
	display: inline;
}

hr
{
	border: none;
	border-bottom: 1px solid #333;
}

section header
{
	float: left;
	font-family: "Fjalla One";
	font-size: 3em;
	font-variant: small-caps;
	width: 20%;
}

section ul
{
	list-style-position: inside;
	list-style-type: circle;
}

section ul li
{
	text-indent: 1em;
}

section .content
{
	display: inline-block;
	line-height: 1.5em;
	text-align: justify;
	width: 80%;
}

strong
{
	font-weight: bold;
}

time
{
	float: right;
	font-style: oblique;
}

ul span.screen
{
	display: inline;
}

.divider
{
	margin: 0 1em;
}

.print
{
	display: none;
}

.screen
{
	display: inherit;
}